{% extends "layout.html.jinja" %}

{% block title %}
- Collections
{% endblock %}

{% block main %}

<h1 class="display-4">Collections</h1>

<br>

<p class="lead">
    All collections from plex server. Click a collection to get a table with all movies in the collection.
</p>

<br>

<div class="row">
    <div class="col-4">

        <div class="list-group" id="list-tab" role="tablist">
            {% for collection in collections %}
            <a class="list-group-item list-group-item-action" data-toggle="list" id="{{collection.id}}-button"
                href="#{{collection.id}}" role="tab" onClick="contentCollectionResults(this)">{{collection.title}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            {% for collection in collections %}
            <div class="tab-pane" id="{{collection.id}}" role="tabpanel">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>

{% endblock %}
